<section id="about-us" class="hide bg-light">
    <h1><u>ABOUT US</u></h1>
  <div class="flex-container hide">
    <div class="aboutus-container">
      <div class=" about-desc text-dark">
        <p>S S A R & Co is a reputable firm supported by a highly experienced team of professionals specializing in various areas, including audits, company law, industrial and financial consultancy, income tax, and other direct and indirect taxes. Additionally, the firm excels in project finance and occasionally retains the services of experts to meet the specific needs of its clients.</p>
        <p>Founded by CA Sanket Shingavi as a proprietary firm, it transitioned into a partnership firm in early 2020 with the addition of CA Rushikesh Aneray as a partner. To accommodate its growing client base, the firm has established branch offices in Pune and maintains a network of associates across India.</p>
        <p>We take pride in being recognized as the best CA firm in Pune and PCMC, committed to delivering top-notch services and tailored solutions to our clients.</p>
        <button class="p-2 mt-3"><a class="text-decoration-none text-white" href="about">Read more</a></button></div>
      <div class="image-holder">
        <div id="aboutus-slider" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="static/images/off1.jpeg"
                class="d-block w-100 rounded"
                alt="..."
              />
            </div>
            {{!-- <div class="carousel-item ">
              <img
                src="static/images/slider2.jpg"
                class="d-block w-100 object-fit-contain"
                alt="..."
              />
            </div> --}}
            <div class="carousel-item">
              <img
                src="static/images/off2.jpeg"
                class="d-block w-100 rounded"
                alt="..."
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>