<section id="about-us">
  <h1>About Us</h1>
  <div class="aboutus-conatainer">
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur ea odio assumenda, voluptatum accusantium laboriosam sapiente totam veritatis velit quod.</div>
    <div class="image-holder">
      <div
        id="aboutus-slider"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item ">
            <img src="static/images/service1.jpg" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item active">
            <img src="static/images/service2.jpg" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/service3.jpg" class="d-block w-100" alt="..." />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>