 <section id="Contact" class="hide">
      <div class="full">
      <div class="title-contact">
          <p>Connect With Us Today !!</p>
      </div>
      <div class="contact">
          <div class="left">
              <div class="up">
                  <img src="static/images/location.png" alt="" class="contact-image">
                  <b>Our Address</b>
                  <span class="subhead">Office No. C-4 & D-1 Next to ICICI bank ATM, Shree Vihar Society, B/h Appu Ghar, Nigdi, Pune-44</span>
              </div>
              <div class="down">
                  <div class="l">
                      <img src="static/images/email.png" alt="" class="contact-image">
                      <b>E-mail</b>
                      <span class="subhead"><a class="subhead text-decoration-none" href="mailto:ca@ssoffice.in">ca@ssoffice.in</a></span>
                  </div>
                  <div class="r">
                      <img src="static/images/phone.png" alt="" class="contact-image">
                      <b>Call Us</b>
                      <span class="subhead">+91 8600055557</span>
                  </div>
              </div>
          </div>
          <div class="right">
              <div class="entry">
                  <div class="top">
                      <input type="text" placeholder="Your Name" class="name">
                      <input type="text" placeholder="Your Email" class="email">
                  </div>
                  <input type="text" placeholder="Subject" class="sub">
                  <br>
                  <textarea name="Message" class="msg" placeholder="Message" cols="35" rows="8"></textarea><br>
                  <input type="button" value="Submit" class="butn">
              </div>
          </div>
      </div>
  </div>
  </section>