{{>header}}
<div class="header-back"> </div>

<section class="about-us-page">
<div class="career">
  <b class="car">ABOUT US</b>
</div>

<div class="firm-info">
  <div id="firm1">
    <h2>Know More About Our Firm</h2>
    <p>At SSAR & Co., we are committed to delivering exceptional financial and advisory services tailored to meet the unique needs of our clients. With a team of highly skilled professionals, including experienced Chartered Accountants, we provide comprehensive solutions in the areas of auditing, taxation, financial planning, and corporate consulting. Our client-centric approach ensures that every decision is made with precision, integrity, and the highest standards of professional ethics.
    <br>Whether you are an individual, a small business, or a large corporation, we are dedicated to helping you navigate complex financial landscapes, ensuring compliance, and driving growth. Trust SSAR & Co. to be your strategic partner in financial success.</p>
  </div>
  <div id="firm2">
    <img src="static/images/inter_ca.jpg" alt="" />
  </div>
</div>

<div class="facts">
  <h2>SOME FACTS ABOUT OUR FIRM</h2>
  <div class="facts-list">
    <div class="fact">
      <h3>7+</h3>
      <p>YEARS OF EXPERIENCE</p>
    </div>
    <div class="fact">
      <h3>2</h3>
      <p>PARTNERS</p>
    </div>
    <div class="fact">
      <h3>25+</h3>
      <p>STAFF</p>
    </div>
    <div class="fact">
      <h3>1000+</h3>
      <p>CLIENT SERVED</p>
    </div>
  </div>
</div>

<div class="team">
  <div class="profile-container">
    <div class="header-section">
      <div class="profile-picture outer-circle-sanket"></div>
      <div class="profile-picture inner-circle"></div>
    </div>
    <div class="content-section">
      <h1 class="profile-name">C.A. Sanket Shingavi</h1>
      <p class="profile-role">B.Com, FCA.<br>(Membership No. 183693)</p>
      <div class="social-icons">
        <div id="yt">
          <a href="https://wa.me/8600055557">
            <img
              src="https://cdn2.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-whatsapp-circle-512.png"
              alt=""
            />
          </a>
        </div>
        <div id="tw">
          <a href="mailto:ca@ssoffice.in">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROhOckmohmBOZBODIW8A2ZHUlAfIRgE1rsBw&s"
              alt=""
            />
          </a>
        </div>
        <div id="ig">
          <a href="https://www.linkedin.com/in/ca-sanket-shingavi-2a859012a/?originalSubdomain=in">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/LinkedIn_icon_circle.svg/1200px-LinkedIn_icon_circle.svg.png"
              alt=""
            />
          </a>
        </div>
      </div>
      <p id="team-person">
        CA Sanket Shingavi is a Fellow Member of The Institute of Chartered Accountants of India (ICAI) with 7 years of professional experience. He brings a wealth of expertise in accounting, auditing, and financial advisory services, delivering comprehensive solutions to a wide range of clients.
      </p>
    </div>
  </div>
  <div class="profile-container">
    <div class="header-section">
      <div class="profile-picture outer-circle-rushi"></div>
      <div class="profile-picture inner-circle"></div>
    </div>
    <div class="content-section">
      <h1 class="profile-name">C.A Rushikesh Aneray</h1>
      <p class="profile-role">B.Com, FCA.<br>(Membership No. 174693)</p>
      <div class="social-icons">
        <div id="yt">
          <a href="">
            <img
              src="https://cdn2.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-whatsapp-circle-512.png"
              alt=""
            />
          </a>
        </div>
        <div id="tw">
          <a href="">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROhOckmohmBOZBODIW8A2ZHUlAfIRgE1rsBw&s"
              alt=""
            />
          </a>
        </div>
        <div id="ig">
          <a href="https://www.linkedin.com/in/ca-rushikesh-aneray-75a87773">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/LinkedIn_icon_circle.svg/1200px-LinkedIn_icon_circle.svg.png"
              alt=""
            />
          </a>
        </div>
      </div>

      <p id="team-person">
        CA Rushikesh Aneray is a Fellow Member of The Institute of Chartered Accountants of India (ICAI) with 6 years of professional experience
      </p>
    </div>
  </div>
</div>
</section>

{{>footer2}}
