{{>header}}
<div class="header-back"> </div>

<div class="career">
  <b class="car">ABOUT US</b>
</div>

<div class="firm-info">
  <div id="firm1">
    <h2>Know More About Our Firm</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ratione
      error et corrupti enim ut odio aut iusto iure dicta fugiat quis quia
      necessitatibus, cum recusandae labore deserunt placeat ipsa repudiandae.
      Reiciendis enim impedit perspiciatis ad amet deserunt quae voluptas nobis.
      Recusandae quod aliquid consequatur vel labore obcaecati error aperiam!</p>
  </div>
  <div id="firm2">
    <img src="static/images/slider3.jpg" alt="" />
  </div>
</div>

<div class="facts">
  <h2>SOME FACTS ABOUT OUR FIRM</h2>
  <div class="facts-list">
    <div class="fact">
      <h3>30+</h3>
      <p>YEARS OF EXPERIENCE</p>
    </div>
    <div class="fact">
      <h3>17</h3>
      <p>PATNERS</p>
    </div>
    <div class="fact">
      <h3>14</h3>
      <p>ABCD</p>
    </div>
    <div class="fact">
      <h3>500+</h3>
      <p>XYZZZZZZZZZ</p>
    </div>
  </div>
</div>

<div class="team">
  <div class="profile-container">
    <div class="header-section">
      <div class="profile-picture outer-circle-sanket"></div>
      <div class="profile-picture inner-circle"></div>
    </div>
    <div class="content-section">
      <h1 class="profile-name">C.A. Sanket Shingavi</h1>
      <p class="profile-role">B.Com, FCA.
      </p>
      <div class="social-icons">
        <div id="yt">
          <a href="">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/YouTube_social_red_circle_%282017%29.svg/2048px-YouTube_social_red_circle_%282017%29.svg.png"
              alt=""
            />
          </a>
        </div>
        <div id="tw">
          <a href="">
            <img
              src="https://cdn.iconscout.com/icon/free/png-256/free-twitter-1865886-1581902.png"
              alt=""
            />
          </a>
        </div>
        <div id="ig">
          <a href="">
            <img
              src="https://i0.wp.com/bodybeyondlimits.com.au/wp-content/uploads/2022/07/instagram-circle-icon-png-4.png?ssl=1"
              alt=""
            />
          </a>
        </div>
      </div>
      <p id="team-person">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, voluptatibus porro eius qui aperiam maiores ducimus molestias soluta officia tempora.
      </p>
    </div>
  </div>
  <div class="profile-container">
    <div class="header-section">
      <div class="profile-picture outer-circle-rushi"></div>
      <div class="profile-picture inner-circle"></div>
    </div>
    <div class="content-section">
      <h1 class="profile-name">C.A Rushikesh Aneray</h1>
      <p class="profile-role">B.Com, FCA.</p>
      <div class="social-icons">
        <div id="yt">
          <a href="">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/YouTube_social_red_circle_%282017%29.svg/2048px-YouTube_social_red_circle_%282017%29.svg.png"
              alt=""
            />
          </a>
        </div>
        <div id="tw">
          <a href="">
            <img
              src="https://cdn.iconscout.com/icon/free/png-256/free-twitter-1865886-1581902.png"
              alt=""
            />
          </a>
        </div>
        <div id="ig">
          <a href="">
            <img
              src="https://i0.wp.com/bodybeyondlimits.com.au/wp-content/uploads/2022/07/instagram-circle-icon-png-4.png?ssl=1"
              alt=""
            />
          </a>
        </div>
      </div>

      <p id="team-person">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, voluptatibus porro eius qui aperiam maiores ducimus molestias soluta officia tempora.
      </p>
    </div>
  </div>
</div>

{{>footer2}}