{{>header}}
<div class="header-back">

</div>
 <div class="career">
        <b class="car">CAREERS</b>
      </div>

      <div class="desc">
        <p>SSAR & CO strives to cultivate a dynamic work environment that fosters the professional growth of its employees. We champion individual initiative, encouraging each team member to assume greater responsibilities and contribute significantly to our firm's advancement. Our robust value system ensures not only high productivity but also provides an inspiring platform for unleashing creative potential. </p>
        <p> Over the years, we have developed structured systems and processes that empower fresh graduates and qualified assistants to explore their capabilities under the mentorship of seasoned professionals. We actively support and guide our staff in mastering audit methodologies. At SSAR & CO, we prioritize maintaining a healthy work-life balance within a supportive and merit-driven culture where achievements are duly acknowledged and rewarded. </p>
        <p> Our congenial work environment offers every team member the opportunity to discover and leverage their strengths and potential. We seek individuals with strong analytical skills, a solid foundation in finance and accounting, and a commitment to continuous professional development. If you aspire to excel in a stimulating and growth-oriented environment, consider launching your career journey with SSAR & CO.</p>
        <p>We welcome candidates who are dedicated to learning and want to get good exposure in various areas of the CA profession.</p>
      </div>

       <ul class="accordian">
        <li>
          <input type="radio" name="accordian" id="first" checked>
          <label for="first">Audit Manager</label>
          <div class="career-content">
            <p><b> Experience Required:</b> 1-2 Years </p>
            <p><b> Specification:</b> To plan , Coordinate and complete the audit assignments, inline with audit standards. Candidate should have excellent communication skills. </p>
            <ul class="inside">
              <li>Candidate should have excellent communication skills.</li>
              <li>To work , execute and complete in time and effectively audit assignments.</li>
              <li>Leave rules shall be as per ICAI Rules.</li>
            </ul>

          </div>
        </li>
        <li>
          <input type="radio" name="accordian" id="second">
          <label for="second">Accounting</label>
          <div class="career-content">
            <p><b> Experience Required:</b> 1-2 Years </p>
            <p><b> Specification:</b> Candidates with exposure to accounting packages such as Tally, Quick-books, ZoHo, etc. shall be preferred.  </p>
            <ul class="inside">
              <li>Candidate should have minimum qualification as B.com.</li>
              <li>Candidate should have experience accounting and outsourcing.</li>
              <li>Leave rules shall be as per ICAI Rules.</li>
            </ul>
            
          </div>
        </li>
        <li>
          <input type="radio" name="accordian" id="third">
          <label for="third">Articled Assistant </label>
          <div class="career-content">
            <p><b> Experience Required:</b> Fresher </p>
            <p><b> Specification:</b> Should have completed minimum criteria prescribed in ICAI, Candidate with both groups passed in IPCE shall be preferred . </p>
            <ul class="inside">
              <li>Candidate should have excellent communication skills.</li>
              <li>Candidates shall get versatile exposure in all areas such as : TAX , Audits , GST , Outsourcing</li>
              <li>Leave rules shall be as per ICAI Rules.</li>
            </ul>

          </div>
        </li>
      </ul>

<div class="careerform">
  <p>Want to be Part of Us</p>
  <p class="sub-career">Submit your Resume</p>
  <button class="careerformbtn"><a class="text-decoration-none text-white" href="https://forms.gle/rmpyM8rWW5YWrYHx9">Submit</a></button>
</div>

     

{{>footer2}}