{{>header}}
    <section>
      <div class="slider">
        <div class="list">
          <div class="item">
            <img src="static/images/slider1.png" alt="" />

            <div class="content">
              <div class="title">Tax Planning</div>
              <div class="type">Optimize Your Tax Strategy</div>
              <div class="description">
                Maximize your tax savings with our strategic tax planning and compliance services tailored to your unique needs. Our team of experts stays abreast of the latest tax regulations and opportunities, ensuring you benefit from every available tax advantage while maintaining full compliance with all legal requirements. Let us help you minimize liabilities and enhance your financial efficiency.
              </div>
              <!-- <div class="button">
                        <button>SEE MORE</button>
                    </div> -->
            </div>
          </div>

          <div class="item">
            <img src="static/images/slider2.jpg" alt="" />

            <div class="content">
              <div class="title">Audits </div>
              <div class="type">Ensuring Financial Integrity</div>
              <div class="description">
                Our meticulous audit and assurance services ensure the accuracy and reliability of your financial statements. We conduct thorough assessments to identify potential risks and provide actionable insights, helping you maintain transparency and trust with your stakeholders.
              </div>
            </div>
          </div>

          <!-- <div class="item">
            <img src="static/images/laptop-coffee-cup-wooden-table-modern-office-with-city-view.jpg" alt="" />

            <div class="content">
              <div class="title">MAGIC SLIDER</div>
              <div class="type">PLANT</div>
              <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Deleniti temporibus quis eum consequuntur voluptate quae
                doloribus distinctio. Possimus, sed recusandae. Lorem ipsum
                dolor sit amet consectetur adipisicing elit. Sequi, aut.
              </div>
            </div>
          </div> -->

          <div class="item">
            <img src="static/images/slider3.jpg" alt="" />

            <div class="content">
              <div class="title">Business Advisory</div>
              <div class="type">Strategic Insights for Growth</div>
              <div class="description">
               Leverage our business advisory services to drive growth and enhance operational efficiency with expert guidance. Our advisors work closely with you to understand your business challenges and develop customized strategies that promote long-term success and competitiveness.
              </div>
            </div>
          </div>
        </div>

        <div class="thumbnail">
          <div class="item"></div>
        </div>

        <div class="nextPrevArrows">
          <button class="prev"><</button>
          <button class="next">></button>
        </div>
      </div>
    </section>
    {{>aboutus}}
    <section class="contain">
      <div class="card__container swiper">
        <div class="card__content">
          <div class="swiper-wrapper">
            <article class="card__article swiper-slide">
              <div class="card__images">
                <img
                  src="static/images/service1.jpg"
                  alt="images"
                  class="card__img"
                />
                <div class="card__shadow"></div>
              </div>

              <div class="card__data">
                <h3 class="card__name">Audits</h3>
                <p class="card__description">
                  Our goal is to optimise your business relationships by
                  tailoring our services to your individual requirements.
                  <br />
                  <br />
                </p>

                <a href="#" class="card__button">View More</a>
              </div>
            </article>

            <article class="card__article swiper-slide">
              <div class="card__images">
                <img src="static/images/service2.jpg" alt="images" class="card__img" />
                <div class="card__shadow"></div>
              </div>

              <div class="card__data">
                <h3 class="card__name">Tax</h3>
                <p class="card__description">
                  We are focused on developing a strong Pay for Success field
                  through market bonds, traders, mutual funds, research and
                  analysis.
                </p>

                <a href="#" class="card__button">View More</a>
              </div>
            </article>

            <article class="card__article swiper-slide">
              <div class="card__images">
                <img
                  src="static/images/service3.jpg"
                  alt="images"
                  class="card__img"
                />
                <div class="card__shadow"></div>
              </div>

              <div class="card__data">
                <h3 class="card__name">Accounting</h3>
                <p class="card__description">
                  Holistic set-up, providing you sucess with optimal solutions
                  from Wealth Management and Investment Banking.
                  <br />
                  <br />
                </p>

                <a href="#" class="card__button">View More</a>
              </div>
            </article>

            <!-- <article class="card__article swiper-slide">
                    <div class="card__images">
                       <img src="static/img/Tax.jpg" alt="images" class="card__img">
                       <div class="card__shadow"></div>
                    </div>
     
                    <div class="card__data">
                       <h3 class="card__name">Jenny Wert</h3>
                       <p class="card__description">
                          Passionate about development and design, 
                          I carry out projects at the request of users.
                       </p>
     
                       <a href="#" class="card__button">View More</a>
                    </div>
                 </article> -->

            <!-- <article class="card__article swiper-slide">
                    <div class="card__images">
                       <img src="static/img/Advisory.jpg" alt="images" class="card__img">
                       <div class="card__shadow"></div>
                    </div>
     
                    <div class="card__data">
                       <h3 class="card__name">Lexa Kin</h3>
                       <p class="card__description">
                          Passionate about development and design, 
                          I carry out projects at the request of users.
                       </p>
     
                       <a href="#" class="card__button">View More</a>
                    </div>
                 </article> -->
          </div>
        </div>

        <!-- Navigation buttons -->
        <div class="swiper-button-next">
          <i class="ri-arrow-right-s-line"></i>
        </div>

        <div class="swiper-button-prev">
          <i class="ri-arrow-left-s-line"></i>
        </div>

        <!-- Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </section>

   {{>contactform}}

  
      <!-- Remove the container if you want to extend the Footer to full width. -->
{{>footer}}