    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
        font-size: 16px;
    }

    .navbar{
        background-color: white;
    }

    .dropdown-menu .dropdown-item:hover {
        color: rgb(0, 0, 0);
        background-color: #0f5fae; 
    }

    .navbar-nav .nav-item .nav-link:hover {
        color: rgb(207, 10, 10) ;
        margin-right: 20px;
    }

    .navbar-nav .nav-item .nav-link{
        margin-right: 20px;
        color: #343a40 ;
    }

    .nav-link.active:hover {
        color: rgb(207, 10, 10) !important;
    }


    .carousel-inner .carousel-item{
        img{
            display: flex;
            height: 90vh;
            object-fit: cover;
            justify-content: center;
            align-items: center;
        }
    }

    .boxes{
        display: flex;
        gap: 80px;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin: 40px;
        background-color: #f3f5f720;

        h2{
            font-weight: 300;
            font-size: 30px;
        }
    }

    .box{
        background-color: white;
        margin:10px 10px;
        padding: 20px 20px;
        box-shadow: 0 4px 8px 0 rgba(68, 67, 67, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 300px;
    }

    .box:hover{
        border: 0.7px solid rgb(77, 74, 74);
        transform: scale(1.12);
    }